{
    "gui" : {
      "background" : {
        "type" : "background",
        "fileHeader" : "/D8Encyclopedia/Pane/old/theme/vanilla/header.png",
        "fileBody" : "/D8Encyclopedia/Pane/old/theme/vanilla/body.png",
        "fileFooter" : "/D8Encyclopedia/Pane/old/theme/vanilla/footer.png"
      },
      
      "titleImg" : {
        "type" : "image",
        "position" : [4, 286],
        "file" : "/D8Encyclopedia/Pane/old/icon.png"
      },
      "titleLbl" : {
        "type" : "label",
        "position" : [24, 294],
        "value" : "^black;Encyclopedia | In-Game Modded Information^reset;",
        "hAnchor" : "left",
        "vAnchor" : "mid",
        "tooltip" : "^shadow,green; Developped By | Darkcraft8^reset;"
      },

      "modListPrev" : {
        "type" : "button",
        "base" : "/D8Encyclopedia/Mod/generalImage/up.png:0",
        "hover" : "/D8Encyclopedia/Mod/generalImage/up.png:0",
        "pressed" : "/D8Encyclopedia/Mod/generalImage/up.png:1",
        "pressedOffset" : [0, 0],
        "position" : [3, 268],
        "callback" : "modListBtn",
        "tooltip" : " Move Category Button's Downward"
      },

      "modListNext" : {
        "type" : "button",
        "base" : "/D8Encyclopedia/Mod/generalImage/down.png:0",
        "hover" : "/D8Encyclopedia/Mod/generalImage/down.png:0",
        "pressed" : "/D8Encyclopedia/Mod/generalImage/down.png:1",
        "pressedOffset" : [0, 0],
        "position" : [3, 22],
        "callback" : "modListBtn",
        "tooltip" : " Move Category Button's Upward"
      },

      "modButtonLayout" : {
        "type" : "layout",
        "layoutType" : "basic",
        "rect" : [2, 22, 22, 282],
        "position" : [0, 0],
        "children" : {}
      },

      "tabListPrev" : {
        "type" : "button",
        "base" : "/D8Encyclopedia/Mod/generalImage/left.png:0",
        "hover" : "/D8Encyclopedia/Mod/generalImage/left.png:0",
        "pressed" : "/D8Encyclopedia/Mod/generalImage/left.png:1",
        "pressedOffset" : [0, 0],
        "position" : [20, 267],
        "callback" : "tabListBtn",
        "tooltip" : " Move Tab Button's to the Right"
      },

      "tabListNext" : {
        "type" : "button",
        "base" : "/D8Encyclopedia/Mod/generalImage/right.png:0",
        "hover" : "/D8Encyclopedia/Mod/generalImage/right.png:0",
        "pressed" : "/D8Encyclopedia/Mod/generalImage/right.png:1",
        "pressedOffset" : [0, 0],
        "position" : [348, 267],
        "callback" : "tabListBtn",
        "tooltip" : " Move Tab Button's to the Left"
      },

      "tabButtonLayout" : {
        "type" : "layout",
        "layoutType" : "basic",
        "rect" : [19, 266, 360, 286],
        "position" : [0, 0],
        "children" : {}
      },

      "pageLayout" : {
        "type" : "layout",
        "layoutType" : "basic",
        "rect" : [21, 27, 362, 264],
        "position" : [0, 0],
        "children" : {}
      },
      
      "page_Prev" : {
        "type" : "button",
        "base" : "/D8Encyclopedia/Mod/generalImage/left.png:0",
        "hover" : "/D8Encyclopedia/Mod/generalImage/left.png:0",
        "pressed" : "/D8Encyclopedia/Mod/generalImage/left.png:1",
        "pressedOffset" : [0, 0],
        "position" : [20, 22],
        "callback" : "pageChange",
        "tooltip" : " Open Previous Page"
      },

      "page_Next" : {
        "type" : "button",
        "base" : "/D8Encyclopedia/Mod/generalImage/right.png:0",
        "hover" : "/D8Encyclopedia/Mod/generalImage/right.png:0",
        "pressed" : "/D8Encyclopedia/Mod/generalImage/right.png:1",
        "pressedOffset" : [0, 0],
        "position" : [348, 22],
        "callback" : "pageChange",
        "tooltip" : " Open Next Page"
      }
    },
  
    "scriptDelta" : 5,
    "scriptWidgetCallbacks" : [
      "btn",

      "modListBtn",
      "modSelectBtn",

      "tabListBtn",
      "tabSelectBtn",

      "pageChange",
      "null"
    ],

    "modList" : {
      "startPos" : [0, 244],
      "endPos" : [0, 22],
      "offset" : [0, -17],
      "btnNumOverride" : 15,
      "DirectionIndex" : 2
    },
    "tabList" : {
      "startPos" : [0, 0],
      "endPos" : [246, 20],
      "offset" : [17, 0],
      "btnNumOverride" : 20,
      "DirectionIndex" : 1
    },
    "textCfg" : {
      "wrapWidth" : 345
    },

    "tooltipCfg" : {
      "borderColor" : "60B9FFff"
    },
    "debugMode" : false
}