{
    "gui" : {
        "background" : {
            "zlevel" : -10,
            "type" : "background",
            "fileHeader" : "/D8Encyclopedia/Pane/new/window/popup/header.png",
            "fileBody" : "/D8Encyclopedia/Pane/new/window/popup/body.png",
            "fileFooter" : "/D8Encyclopedia/Pane/new/window/popup/footer.png"
        },
        "icon" : {
            "type" : "image",
            "file" : "/interface/popup/warning.png",
            "position" : [2, 172],
            "zlevel" : -1
        },
        "btnOk" : {
            "type" : "button",
            "base" : "/interface/popup/acceptUp.png",
            "hover" : "/interface/popup/acceptOver.png",
            "position" : [110, 9],
            "caption" : "Okay",
            "callback" : "close"
        },
        "labelTitle" : {
            "type" : "label",
            "position" : [140, 183],
            "hAnchor" : "mid",
            "vAnchor" : "mid",
            "wrapWidth" : 180,
            "lineSpacing" : 1.0,
            "value" : "REPLACE ME",
            "color" : [255,255,255]
        },
        "labelLayout" : {
            "type" : "layout",
            "layoutType" : "basic",
            "rect" : [2, 22, 265, 171],
            "position" : [0, 0],
            "children" : {
                "labelScrollArea"  : {
                    "type": "scrollArea",
                    "zlevel" : 1,
                    "position" : [0, 0],
                    "rect" : [
                        0, 0,
                        264, 148
                    ], 
                    "children": {
                        "labelText" : {
                            "type" : "label",
                            "position" : [0, 0],
                            "hAnchor" : "left",
                            "vAnchor" : "bottom",
                            "wrapWidth" : 255,
                            "lineSpacing" : 1.0,
                            "value" : "REPLACE ME",
                            "color" : [255,255,255]
                        }
                    }
                }
            }
        }
    },
    "scripts" : ["/D8Encyclopedia/Pane/new/window/monster/pane.lua"],
    "scriptWidgetCallbacks" : [
        "close"
    ],

    "monsterType" : "poptop",
    "dropPools" : [ { "default" : "poptopTreasure", "bow" : "poptopHunting" } ]
}