{
    "name" : "D8Encyclopedia",
    "icon" : "/D8Encyclopedia/Pane/old/icon.png",
    "tooltip" : " D8 Encyclopedia",
    "require" : [ "isAdmin" ],
    "category" : [
        {
            "tooltipText" : "Basic Information",
            "icon" : "/objects/outpost/number1/icon.png:?brightness=100",
            "pages" : [
                {
                    "text" : {
                        "type" : "text",
                        "position" : [0, -5],
                        "pageAnchor" : "topLeft",
                        "hAnchor" : "left",
                        "vAnchor" : "top",
                        "string" : [
                            "^green;D8 Encyclopedia^reset;",
                            "Is meant has a way for developers to add in-game information for the player(s),",
                            "it has the posibility to have image, text and possibly other feature if needed.",
                            "",
                            "tooltip area are designated by the size of an image widget.",
                            "Currently text, premade and item|Ingredients List are supported.",
                            "",
                            "Dev note :",
                            "More informative documentation will be added when i get around to writing them.",
                            "i recommand opening the config for this category or the ones of d8Weaponry to understand more easily how to use the mod."
                        ]
                    },
                    "tooltipAreaTrick" : {
                        "type" : "image",
                        "list" : [
                            {
                                "position" : [0, -13],
                                "pageAnchor" : "topLeft",
                                "file" : "/assetmissing.png?crop;0;0;1;1?replace=ffffff00;ffffff00?scale=64;8",
                                "tooltip" : "^green;This mod also support tooltip on image, they can be used to give tooltip to specific part of the page.^reset;"
                            }
                        ]
                    }
                }
            ]
        }
    ]
}