{
    "gui" : {
        "background" : {
            "zlevel" : -10,
            "type" : "background",
            "fileHeader" : "/D8Encyclopedia/Pane/new/window/popup/header.png",
            "fileBody" : "/D8Encyclopedia/Pane/new/window/object/craftable/body.png",
            "fileFooter" : "/D8Encyclopedia/Pane/new/window/popup/footer.png"
        },
        "icon" : {
            "type" : "image",
            "file" : "/D8Encyclopedia/Pane/new/icon.png",
            "position" : [2, 176],
            "zlevel" : -1
        },
        "btnOk" : {
            "type" : "button",
            "base" : "/interface/popup/acceptUp.png",
            "hover" : "/interface/popup/acceptOver.png",
            "position" : [108, 10],
            "caption" : "Okay",
            "callback" : "close"
        },
        "labelTitle" : {
            "type" : "label",
            "position" : [26, 186],
            "hAnchor" : "left",
            "vAnchor" : "mid",
            "wrapWidth" : 200,
            "lineSpacing" : 1.0,
            "value" : "REPLACE ME",
            "color" : [255,255,255]
        },
        "labelLayout" : {
            "type" : "layout",
            "layoutType" : "basic",
            "rect" : [2, 25, 265, 174],
            "spacing" : [0, 0],
            "position" : [0, 0],
            "children" : {
                "craftingStationIcon" : {
                    "type" : "image",
                    "position" : [119, 131],
                    "zlevel" : 0,
                    "maxSize" : [16, 16],
                    "minSize" : [16, 16]
                },
                "objectImage" : {
                    "type" : "image",
                    "position" : [55, 115],
                    "zlevel" : 0,
                    "file" : "/assetmissing.png?crop;0;0;1;1?setcolor=fff?replace;fff0=ffff",
                    "centered" : true,
                    "maxSize" : [70, 45],
                    "minSize" : [70, 45]
                },
                "objectLabel" : {
                    "type" : "label",
                    "position" : [136, 139],
                    "hAnchor" : "left",
                    "vAnchor" : "mid",
                    "wrapWidth" : 130,
                    "lineSpacing" : 1.0,
                    "value" : "",
                    "color" : [255,255,255]
                },
                "recipeScrollArea"  : {
                    "type": "scrollArea",
                    "zlevel" : 1,
                    "position" : [117, 2],
                    "size" : [146, 127],
                    "children": {
                        "layout" : {
                            "type" : "layout",
                            "layoutType" : "basic",
                            "rect" : [0, 0, 145, 60],
                            "children" : {
                            }
                        }
                    }
                },
                "labelScrollArea"  : {
                    "type": "scrollArea",
                    "zlevel" : 1,
                    "position" : [1, 2],
                    "size" : [115, 83],
                    "children": {
                        "labelText" : {
                            "type" : "label",
                            "position" : [0, 0],
                            "hAnchor" : "left",
                            "vAnchor" : "top",
                            "wrapWidth" : 105,
                            "lineSpacing" : 1.0,
                            "value" : "REPLACE ME",
                            "color" : [255,255,255]
                        }
                    }
                }
            }
        }
    },
    "scripts" : ["/D8Encyclopedia/Pane/new/window/object/craftable/pane.lua"],
    "scriptWidgetCallbacks" : [
        "close"
    ],

    "recipe" : null,
    "recipePart" : {
        "layoutType" : "basic",
        "rect" : [0, 0, 145, 21],
        "type" : "layout",
        "children" : {
            "itemIcon" : {
                "maxSize" : [18, 18],
                "zlevel" : 3,
                "type" : "image",
                "position" : [12, 11],
                "centered" : true,
                "minSize" : [0, 0]
            },
            "itemRarity" : {
                "zlevel" : 1,
                "file" : "/interface/inventory/itemborder",
                "type" : "image",
                "position" : [3, 2]
            },
            "itemBack" : {
                "type" : "image",
                "position" : [3, 2]
            },
            "itemName" : {
                "wrapWidth" : 82,
                "hAnchor" : "left",
                "vAnchor" : "top",
                "lineSpacing" : 1,
                "type" : "label",
                "value" : "^yellow;Golden Moustache^reset;",
                "position" : [24, 18],
                "fontSize" : 7.2
            },
            "count" : {
                "hAnchor" : "right",
                "vAnchor" : "bottom",
                "type" : "label",
                "value" : "^red;19/99^reset;",
                "position" : [129, 3],
                "fontSize" : 7.2
            },
            "backgroundImg" : {
                "file" : "/D8Encyclopedia/Pane/new/window/object/craftable/listitem.png",
                "zlevel" : -1,
                "type" : "image",
                "position" : [2, 1]
            }
        }
    }
}