{
    "gui" : {
      "background" : {
        "type" : "background",
        "fileBody" : "/assetmissing.png"
      }      
    },
  
    "scripts" : [ "/D8Encyclopedia/Pane/old/open.lua" ],
    "scriptDelta" : 5,
    "scriptWidgetCallbacks" : [],

    "overrides" : {
      "scripts" : [ "/D8Encyclopedia/Pane/old/base.lua" ]
    }
}